.contact__us {
  background: #000;
}

.contact__us h2,
.contact__us p {
  color: #fff;
  text-align: center;
  font-family: poppins;
}

.contact__us .form form {
  font-family: poppins;
}

.contact__us .form input {
  color: #fff;
  background: transparent;
  border: none;
  border-bottom: 3px solid #545454;
  height: 2em;
  margin: 3% 4% 3% 4%;
  padding: 0;
  font-family: poppins;
}

.contact__us .form input:focus {
  outline:none;
  border: none;
  border-bottom: 3px solid #fff;
}
.contact__us .form input:active {
  outline: none;
  background: none;
  border: none;
  border-bottom: 3px solid #fff;
}

.contact__us .form button {
  background: #F24E4E;
  width: 15%;
  border-radius: 100px;
  color: #fff;
}
