footer {
  background: #000;
}

.footer__main {
  display: flex;
}

.footer__main img {
  width: 5%;
  height: 6em;
  margin-left: 5%;
  margin-right: auto;
  object-fit: contain;
}

.footer__main p {
    font-family: poppins;
    color: #A3A3A3;
}

.footer__main p span {
    color: red;
}
