nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  display: flex;
  z-index: 3;
}

nav > ul {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  padding: 0;
  margin: 0;
}


nav > ul > li {
  width: 20%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

nav > ul > li > a, nav > ul > li > span {
  font-weight: 600;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: poppins;
}

nav > ul > li:nth-of-type(1) > a, nav > ul > li:nth-of-type(4) > a {
  margin-left: 18%;
} 
nav > ul > li > a:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
  text-decoration: none;
}

nav > ul > li > span {
  margin-left:auto;
  margin-right: 1%;
  font-size: 1.5em;
  vertical-align: middle;
  padding-bottom: 20%;
  color: #C2C5C8;
}

nav > img {
  width: 10%;
  height: 6em;
  margin-left: 5%;
  margin-right: auto;
  object-fit: contain;
}
