.iconbox .icon-Newspaper,
.iconbox .icon-SpeedDial,
.iconbox .icon-checkmark2,
.iconbox .icon-PriceTag {
  font-size: 4em;
  color: #F24E4E;
  text-align: center;
  margin-bottom: 4%;
  transition: font-size 0.5s;
}


.iconbox .icon__holder .icon-Newspaper::before,
.iconbox .icon__holder .icon-SpeedDial::before,
.iconbox .icon__holder .icon-checkmark2::before,
.iconbox .icon__holder .icon-PriceTag::before {
  font-size: 1em;
  transition: font-size 0.5s;
}

.iconbox .icon__holder:hover .icon-Newspaper::before,
.iconbox .icon__holder:hover  .icon-SpeedDial::before,
.iconbox .icon__holder:hover .icon-checkmark2::before,
.iconbox .icon__holder:hover .icon-PriceTag::before {
  font-size: 0.88em;
  padding-bottom: 0.1455em;
  transition:  font-size 0.5s, padding-bottom 0.5s;
}
.iconbox__title {
  text-align: center;
  font-size: 1.4em;
  color: #FBFFFF;
  font-family: poppins;
}

.iconbox__title+p {
  color: #ABAFAF;
  text-align: center;
  font-size: 1em;
  line-height: 1.6;
  margin: 0.8em 0.6em;
  max-width: 35em;
  font-family: poppins;
}

.iconbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}
